{% extends "base.html" %}
{% block content %}

<div class="main_container">
  <div style="min-width:500px; position:relative; display:flex;">
  <aside class="main_aside" style="float:left;width:250px">
    <h1 style="font-size: 28px;margin-top: -20;margin-bottom: 19;"> Namespace </h1>
    <nav class="main_nav">
      <ul>
        {% for n in namespaces %}
        {% if n == namespace %}
          <a href="/{{n}}" class="menu_link" style="color: black;text-decoration: underline;"> {{ n }}</a> <br><br>
        {% else %}
          <a href="/{{n}}" class="menu_link"> {{ n }}</a> <br><br>
        {% endif %}
        {% endfor %}
        <!-- <li> <a href="/search_user"> Buscar Usuario </a> </li> -->
      </ul>
    </nav>
  </aside>
  <aside class="main_aside" style="float:left;width:250px;background-color: rgb(248, 248, 248);">
    <h1 style="font-size: 28px;margin-top: -20;margin-bottom: 19;"> Secret </h1>
    <nav class="main_nav">
      <ul>
        {% for s in secrets %}
          <div style="display: flex;">
            <div style="display: flex;width:200px"><p style="word-break: break-all;"><a href="/{{ namespace }}/{{ s }}" class="menu_link">{{ s }}</a></p></div>
            <div style=""><a class="primary_btn only_icon" href="/{{ namespace }}/{{ s }}/delete" onclick="return confirm('Are you sure you want to remove the secret {{ s }}')" style="float:right;margin-top:0px;border: 1px solid #3C3C3E;">
        		<i class="glyphicon-trash glyphicon"></i>
        	</a></div></div>
        {% endfor %}
      </ul>
    </nav>
    <form action="" id="form" method="POST">

         <input type='text' name="secret" form="form" style='color:black'></input>
         <button class="primary_btn" type="submit">create</button></p>
    </form>
  </aside>
</div>
  <section class="main_section">
    <h1> {{ titulo }}</h1>
    <!-- {% for n in secrets %}
    <a href="/{{ namespace }}/{{ n }}"> <button class="primary_btn"> {{ n }}</button> &nbsp &nbsp &nbsp
    {% endfor %} -->
    <p> {{ error }} </p>


  </section>
</div>

{% endblock %}
